/** @format */
.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.products {
  margin: 20px auto;
  /* width: 1200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error {
  margin-left: 500px;
  margin-top: 100px;
  font-size: 5rem;
  color: rgb(235, 8, 8);
  animation: error 1s ease infinite;
}
@keyframes error {
  0% {
    color: rgb(14, 59, 184);
  }
  100% {
    color: red;
  }
}
@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .products {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .error {
    margin-left: 500px;
    margin-top: 100px;
    font-size: 5rem;
    color: rgb(235, 8, 8);
    animation: error 1s ease infinite;
  }
}
