* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
	margin: auto;
	max-width: 1400px;
	min-height: 100vh;
	padding: 10px;
	background-color: #f0f1f3;
}
